/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --main-background: #ffffff;
  --outline-color: #FFFFFF;
  --background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --accent-color: #000000;
  --text-color-button: #ffffff;
  --font-weight-main: 400;
  --font-weight-title: 700;
  --color-icon: #FF0000;
  --icon-hover-color:#000000;
}

:root.theme-dark {
  --main-background: #000000;
  --outline-color: #000000;
  --background-image: repeating-linear-gradient(
      to right,
      #000 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c 0%, #004306 100%);
  --accent-color: #00cc14;
  --text-color-button: #00cc14;
  --font-weight-main: 465;
  --font-weight-title: 785;
  --color-icon: #FF0000;
  --icon-hover-color:#00cc14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background: #000000;
    --outline-color: #000000;
    --accent-color: #00cc14;
    --text-color-button: #00cc14;
    --font-weight-main: 465;
    --font-weight-title: 785;
    --color-icon: #FF0000;
    --icon-hover-color:#00cc14;
    --background-image: repeating-linear-gradient(
        to right,
        #000 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #007f0c 0%, #004306 100%);
  }
}
